footer {
  margin-top: 40px;
  color: #fff;
  padding: 20px;
  text-align: center;
  background-color: #15162A !important;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
